// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "foundation/settings";

// You can import only specific elements by adjusting the import below
@import "foundation";


body{}

header{
	@include grid-row();
	hgroup{
		@include grid-column(12);
		padding-top: 1.5em;
		.logo{
			font-size: 24px;
		}
		h2{
			font-size: 12px;
		}
	}
}

.btn{
	padding: 12px 18px;
	border-radius: 4px;
	text-decoration: none;
}

.container{
	@include grid-row();
	.home_content{
		@include grid-column(12);
	}
	.content{
		@include grid-column(12);
		.post{
			.post_head{
				hgroup{
					h1{
						font-size: 32px;
					}
					h2{
						font-size: 20px;
					}
					.note{
						font-size: 13px;
					}
				}
			}
			.score{
				text-align: right;
				.toScore{
					background-color: orange;
					color: #fff;
					&:hover{
						background-color: darken(orange, 10%);
						transition: .5s;
					}
				}
			}
			.cd_info{
				margin-top: 2em;
				@include clearfix;
				figure{
					float: left;
					margin:0 15px 2em 0;
					padding-right:15px;
					border-right: 1px dotted #444;
				}
				.meta{
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
			}
			.parent{
				.recorded{
					@include clearfix;
					figure{
						float: left;
						margin:0 .8em 0 0;
						img{
							width: 80px;
							height: auto;
						}
					}
				}
			}
			.descendant{
				padding: 1em 0 2em;
				border-top: 1px solid #444;
				border-bottom: 1px solid #444;
				h5{
					font-weight: normal;
					font-size: 16px;
					margin-bottom: 1em;
				}
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;
					li{
						text-indent: -2em;
						margin-left: 1.7em;
						.track_num{
							width: 1.5em;
							display: inline-block;
							text-align: right;
							margin-right: .2em;
						}
						.divider{
							&:before{
								content: " /\A";
								white-space: pre;
								color: #333;
							}
						}
					}
				}
			}
		}
		.cdlist{
			.cd_item{
				border-bottom: 1px dotted #ddd;
				border-right: 1px dotted #ddd;
				padding: 1em .8em 1em .8em;
				&:nth-of-type(3n){
					border-right: none;
				}
				a{
					display: block;
					text-align: center;
				}
				h4{
					font-size: 15px;
				}
				.player{
					font-size: 13px;
					color: #555;
				}
			}
		}
	}
	.sidebar{
		@include grid-column(12);
		.article_list{
			ul{
				display:none;
			}
		}
	}
}

.songlist{
	table{
		border-collapse: collapse;
		th,td{
			border: 1px solid #aaa;
			padding: 5px 12px;
		}
		tr{
			&:nth-of-type(2n){
				background-color: transparent;
			}
		}
		caption{
			padding-bottom: .5em;
			text-align: left;
			font-size: 18px;
			color: #555;
		}
		thead{
			th{
				border-bottom: 2px solid #aaa;
			}
		}
		tbody{
			td{
				width: 50%;
				.album{
					margin-bottom: 5px;
					padding-bottom: 5px;
					border-bottom: 1px dotted #ccc;
					line-height: 1;
					&:last-of-type{
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: none;
					}
					img{
						width: 40px;
						height: auto;
					}
				}
			}
		}
	}
}

@media #{$large-up}{
	.container{
		.content{
			@include grid-column(9);
			.post{
				.parent{
					.recorded{
						@include clearfix;
						padding-bottom: .3em;
						border-bottom: 1px dotted #aaa;
						margin-bottom: .3em;
						figure{
							float: left;
							margin:0 .8em 0 0;
							img{
								width: 120px;
								height: auto;
							}
						}
						.cdttl{
							font-size: rem-calc(16);
							font-weight: normal;
							margin: 0 0 .5em 0;
						}
					}
				}
			}
		}
		.sidebar{
			@include grid-column(3);
			.article_list{
					position: relative;
				div{
					margin-top: .5em;
					&:first-of-type{
						margin-top: 0;
					}
					.fa{
						color: #555;
						margin-right: .3em;
					}
				}
				ul{
					top:0;
					left:0;
					list-style-type: none;
					margin: .8em 0 1.5em .8em;
					padding: 0;
					li{
						a{
							font-size: rem-calc(13);
							padding: 2px 4px;
							&:hover{
								background-color: #ddd;
							}
						}
					}
				}
			}
		}
	}
}

footer{
	address{
		font-size: 11px;
		text-align: right;
	}
}
